    </article>
    <footer>
      <p class="copyright"><small>Copyright <script type="text/javascript">document.write(new Date().getFullYear());</script> TwitterClone All Rights Reserved.</small></p>
    </footer>
